@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Garamond { font-family: "EB Garamond", serif; }
.font-Poppins { font-family: "Poppins", sans-serif; }
.active{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}